/bin/
/jaudiotagger-2.2.6-SNAPSHOT-sources/
*.zip
*.jar
*_zip.txt
/src/com/felixalacampagne/flactagger/generated/
*.bak
/JustFLAC-master/
/lib/
/FLACtagger.lnk
/dummy.txt
/jna/
.metadata
/JLayer1.0.1/
/JavaMP3/
/output_java.raw

*.lnk
