/bin/
/jaudiotagger*
*.zip
*.jar
*_zip.txt
**/src/com/felixalacampagne/flactagger/generated/
*.bak
/JustFLAC*/*
/lib/
/FLACtagger.lnk
/dummy.txt
/jna/
.metadata
/JLayer1.0.1/
/JavaMP3/
/output_java.raw

*.lnk
