[submodule "jaudiotagger"]
	path = jaudiotagger
	url = https://bitbucket.org/ijabz/jaudiotagger.git
[submodule "justflac"]
	path = justflac
	url = git@github.com:felixalacampagne/JustFLAC.git
[submodule "modules/jflac"]
	path = modules/jflac
	url = git@github.com:felixalacampagne/JustFLAC.git
[submodule "jflac"]
	path = jflac
	url = git@github.com:felixalacampagne/JustFLAC.git
