<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FLACtagger/src/com/felixalacampagne/flactagger/FLACtagger.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.felixalacampagne.flactagger.FLACtagger"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-u -l &quot;E:\tmp\lyrics_clean.xml&quot; -r &quot;E:\tmp\ZZ toupdate&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FLACtagger"/>
</launchConfiguration>
